
.book{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 55rem;
        top: 20rem;
        height: 45rem;
        right: 0;
        background: url('../assets/images/bn-d-footer-vector.webp') no-repeat;
        background-size: contain;
        filter: blur(200px);
        -webkit-filter: blur(200px);
        transform: translate3d(0, 0, 0);
        z-index: -1;
    }
    &__item{
        max-width: 44rem;
    }
    &__top{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        &-upheader{
            color: #808080;
            text-align: center;
            font-size: 2.5rem;
            letter-spacing: 0.5rem;
            text-transform: uppercase;
        }
        &-header{
            text-align: center;
            font-size: 5rem;
            font-weight: 700;
            line-height: 110%;
        }
    }
    &__wrap{
        flex-direction: column;
        align-items: center;
        gap: 8rem;
        padding: 12rem 0;
    }
    &__middle{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5rem;
        align-items: center;
    }
    &__left{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        height: 100%;
        max-width: 44rem;
        width: 100%;
    }
    &__head{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__header{
        font-size: 6rem;
        font-weight: 700;
    }
    &__subheader{
        font-size: 2rem;
        font-weight: 500;
    }
    &__explain{
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    &__item{
        padding: 2rem;
        display: flex;
        gap: 2rem;
        border-radius: 0.6rem;
        background: linear-gradient(270deg, rgba(25, 35, 50, 0.00) 0%, #192332 100%);
        p:nth-child(1){
            color: #FFC500;
            font-size: 2rem;
            font-weight: 500;
        }
    }
    &__bloki{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        p:nth-child(1){
            font-size: 2rem;
            font-weight: 500;
            color: #f4f4f4;
        }
        p:nth-child(2){
            font-size: 1.2rem;
            font-weight: 300;
            max-width: 30rem;
        }
    }
    &__right{
        border-radius: 2rem;
        overflow: hidden;
    }
}
.calendly-inline-widget{
    min-width: 50rem !important;
    height: 50rem !important;
}
@media (max-width: 1100px) {
    .book{
        &__top-header{
            font-size: 2.4rem;
        }
        &__top-upheader{
            font-size: 1.8rem;
        }
        &__middle{
            flex-direction: column;
        }
        &__explain{
            gap: 2rem;
        }
    }
    .calendly-inline-widget{
        min-width: initial !important;
        width: 90vw;
        -webkit-overflow-scrolling: touch !important;
    }
}