
.cases{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 24rem;
        top: 80rem;
        height: 53rem;
        left: 0;
        background: url('../assets/images/bn-d-cases-vector.webp') no-repeat;
        background-size: contain;
        filter: blur(200px);
        -webkit-filter: blur(200px);
        transform: translate3d(0, 0, 0);
        z-index: -1;
    }
    &__wrap{
        padding: 12rem 0;
        flex-direction: column;
    }
    &__naming{
        color: #808080;
        text-align: center;
        font-size: 2.5rem;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        &-block{
            margin-bottom: 2rem;
        }
    }
    &__head{
        margin-bottom: 8rem;
    }
    &__header{
        text-align: center;
        font-size: 6rem;
        font-weight: 700;
        line-height: 110%;
    }
    &__body{
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }
    &__items{
        display: flex;
        gap: 2rem;
    }
    &__item{
        display: flex;
        flex-direction: column;
        &:hover{
            .cases__image-block{
                transform: translateY(-2rem);
            }
            a{
                transform: translateY(-1rem);
            }
        }
    }
    &__image-block{
        margin-bottom: 4rem;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &__logotype-block{
        margin-bottom: 2rem;
    }
    &__name{
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 130%;
        &-block{
            margin-bottom: 2rem;
        }
    }
    &__link{
        color: #FFC500;
        text-align: center;
        text-decoration-line: underline;
        display: flex;
        align-items: center;
        gap: 1.2rem;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}
@media (max-width:1100px) {
    .cases{
        &__header{
            font-size: 2.4rem;
        }
        &__naming{
            font-size: 1.8rem;
        }
        &__items{
            flex-direction: column;
            align-items: center;
        }
    }
    .mySwiperFour{
        width: 100%;
        height: 100%;
        padding-bottom: 8rem;
        padding-top: 3rem;
        .swiper-slide{
            width: 28rem;
            height: 23rem;
            position: relative;
            &:nth-child(1){
                background: url('../assets/images/bn-m-cases-1.webp') no-repeat center;
                background-size: cover;
            }
            &:nth-child(2){
                background: url('../assets/images/bn-m-cases-2.webp') no-repeat center;
                background-size: cover;
            }
            &:nth-child(3){
                background: url('../assets/images/bn-m-cases-3.webp') no-repeat center;
                background-size: cover;
            }
            &:nth-child(4){
                background: url('../assets/images/bn-m-cases-4.webp') no-repeat center;
                background-size: cover;
            }
            &:nth-child(5){
                background: url('../assets/images/bn-m-cases-5.webp') no-repeat center;
                background-size: cover;
            }
            &:nth-child(6){
                background: url('../assets/images/bn-m-cases-6.webp') no-repeat center;
                background-size: cover;
            }
            .cases__swiper-link{
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 50%);
                padding: 0.9rem 2.4rem;
                background: #FFC500;
                border-radius: 0.6rem;
                color: #080B11;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 140%;
            }
        }
    }
}