
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;  /* to ensure it's above the popup background but below the iframe */
}
.hero{
    background: url('../assets/images/bn-d-hero-bg.webp') no-repeat center;
    background-size: cover;
    &__wrap{
        height: 100vh;
    }
    &__video{
        cursor: pointer;
    }
    &__iframe{
        z-index: 2;
        overflow: hidden;
    }
    &__popup {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        display: none;
        justify-content: center;
        align-items: center;
        transition: opacity 0.5s;
        opacity: 0;
        z-index: 199;
    }
    &__core{
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        pointer-events: none;
        *{
            position: absolute;
        }
        &-center{
            max-width: 65rem;
            z-index: 30;
            transform: scale(0);
            animation: core 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s forwards;
        }
        &-particles{
            max-width: 65rem;
            z-index: 27;
            transform: scale(0);
            animation: core 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        }
        &-part{
            max-width: 65rem;
            transform: scale(0) rotate(45deg);
            animation: parts 3s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s forwards;
        }
        &:before{
            content: '';
            width: 65rem;
            height: 65rem;
            position: absolute;
            transform: scale(0);
            animation: core 1.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s forwards, coreI 3s linear 1.6s infinite;
            border-radius: 65.4rem;
            opacity: 0.25;
            background: radial-gradient(50% 50.00% at 50% 50.00%, #FFC500 0%, rgba(255, 197, 0, 0.00) 100%);
        }
    }
    @keyframes core {
        0%{
            transform: scale(0);
        }
        100%{
            transform: scale(1);
        }
    }
    @keyframes partsI {
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.3) rotate(-180deg);
        }
        100%{
            transform: scale(1) rotate(-360deg);
        }
    }
    @keyframes centerI {
        0%{
            transform: rotate(0deg);
        }
        50%{
            transform: rotate(180deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    @keyframes parts {
        0%{
            transform: scale(0) rotate(180deg);
        }
        100%{
            transform: scale(1);
        }
    }
    &__wrapper{
        flex-direction: column;
        justify-content: center;
        max-width: 57rem;
        align-items: start;
        gap: 6rem;
        opacity: 0;
        transform: translateY(15rem);
        animation: fadin 1s forwards;
    }
    @keyframes fadin {
        0%{
            opacity: 0;
            transform: translateY(15rem);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }
    &__header{
        font-size: 8rem;
        font-weight: 700;
        line-height: 100%;
        span{
            color: #FFC500;
        }
    }
    &__top{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__subheader{
        font-size: 2rem;
        font-weight: 500;
        line-height: 150%;
    }
    &__bottom{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    &__book{
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        cursor: pointer;
        &:hover{
            // gap: 1.5rem;
            transform: scale(1.05);
            margin-right: 1rem;
            svg{
                transform: rotate(90deg) scale(1.1);
            }
        }
        svg{
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            transform: rotate(45deg)
        }
        p{
            color: #080B11;
            font-size: 2rem;
            line-height: 100%;
        }
        border-radius: 3rem;
        padding: 1.3rem 3rem;
        display: flex;
        align-items: center;
        gap: 1.2rem;
        background: #FFC500;
    }
    &__video{
        border-radius: 3rem;
        padding: 1.3rem 3rem;
        display: flex;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        align-items: center;
        gap: 1.2rem;
        border: 1px solid #FFC500;
        p{
            font-size: 2rem;
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            line-height: 100%;
        }
        &:hover{
            border: 1px solid white;
            background-color: white;
            p{
                color: #282828;
            }
            svg path {
                fill: #FF0000;
            }
        }
    }
}
@media (max-width:1100px) {
    .hero{
        position: relative;
        &__core{
            position: absolute;
            overflow: hidden;
            right: 0rem;
            width: 25rem;
        }
        &__header{
            font-size: 3.2rem;
        }
        &__subheader{
            font-size: 1.6rem;
            line-height: 100%;
        }
        &__bottom{
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
        }
        &__iframe{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__wrapper{
            z-index: 2;
        }
    }
    #heroMedia{
        max-width: 80% !important;
        max-height: 25rem;
    }
}