.kols{
    &__wrap{
        flex-direction: column;
        gap: 10rem;
        padding: 13rem 0;
    }
    &__head{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        max-width: 1216px;
        &-wrap{
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
        }
    }
    &__upheader{
        color: #808080;
        font-family: Gilroy;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
    }
    &__header{
        font-family: Gilroy;
        font-size: 5rem;
        font-weight: 700;
        line-height: 110%; /* 5.5rem */
        max-width: 78.8rem;
    }
    &__arrow-wrap{
        display: flex;
        gap: 4rem;
        align-items: center;
        div{
            cursor: pointer;
        }
    }
    .mySwiperThree{
        padding-bottom: 5rem;
        .swiper-slide{
            width: 28rem ;
            a{
                img{
                    border-radius: 1.5rem;
                }
            }
        }
    }
}
@media (max-width: 1100px) {
    .kols{
        .mySwiperThree{
            width: 100%;
            padding-bottom: 6rem;
            margin-left: 0;
            .swiper-slide{
                height: initial;
            }
        }
        margin-left: 0;
        padding: 0 2rem;
        &__wrap{
            gap: 5.6rem;
            padding: 8.8rem 0;
        }
        &__head{
            align-items: center;
            &-wrap{
                gap: 2rem;
                align-items: center;
            }
        }
        &__upheader{
            font-size: 1.8rem;
        }
        &__header{
            font-size: 2.4rem;
            text-align: center;
        }
    }
    
}