
.tab-content {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
    &__wrapper{
        justify-content: center;
        gap: 2rem;
    }
    &__preview img{
        @keyframes pulse {
            0%{
                transform: scale(1);
            }
            50%{
                transform: scale(1.05);
            }
            100%{
                transform: scale(1);
            }
        }
        animation: pulse 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
    }
    &__header{
        font-family: 'Gilroy';
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    &__subheader{
        font-family: 'Gilroy';
        font-weight: 400;
        line-height: 130%;
        margin-bottom: 4rem;
    }
    &__body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 68rem;
    }
    &__stroke{
        display: flex;
        padding: 1.2rem 2.4rem;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        border-radius: 0.6rem;
        background: #192332;
        width: max-content;
    }
    &__strok:nth-child(1){
        padding-right: 2rem;
        border-right: 1px solid #fff;
    }
    &__strokes{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 4rem;
    }
    &__link{
        color: #000;
        font-size: 2rem;
        padding: 1.2rem 4rem;
        border-radius: 0.6rem;
        background: #FFC500;
        display: flex;
        width: max-content;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        transform-origin: left;
        &:hover{
            transform: scale(1.05);
        }
    }
}


.tab-content.active {
    display: block;
    opacity: 1;
    width: 100%;
    margin-top: 2rem;
}

.tab-button{
    font-size: 2.5rem;
    font-weight: 700;
    color: #F4F4F4;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    &.active{
        color: #FFC500;
    }
}

.tab-button:nth-child(-n+4){
    padding-right: 2rem;
    border-right: 1px solid #fff;
}

.tab-button:nth-child(n+2):nth-child(-n+5){
    padding-left: 2rem;
}

.tabs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services{
    &__wrap{
        flex-direction: column;
        padding: 12rem 0;
        gap: 8rem;
    }
    &__head{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
    }
    &__upheader{
        color: #808080;
        text-align: center;
        font-size: 2.5rem;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
    }
    &__header{
        text-align: center;
        font-size: 5rem;
        font-weight: 700;
        line-height: 110%;
        max-width: 100rem;
    }
}
@media (max-width:1100px) {
    .services{
        &__container-l{
            padding: 0;
        }
        &__header{
            font-size: 2.4rem;
            padding: 0 2rem;
        }
        &__upheader{
            font-size: 1.8rem;
        }
        &__swiper-header{
            color: #FFC500;
            font-size: 1.8rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        &__swiper-subheader{
            color: #FFF;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 130%;
            margin-bottom: 4rem;
        }
        &__swiper-item{
            padding: 1.2rem 2.4rem;
            border-radius: 0.6rem;
            background: #192332;
            font-size: 1.3rem;
            &:not(:last-child){
                margin-bottom: 1rem;
            }
        }
        .mySwiperFive{
            width: 100%;
            width: 100%;
            padding-bottom: 4rem;
            .swiper-slide{
                width: 100vw;
                padding: 0 2rem;
                &:nth-child(1){
                    background: url('../assets/images/bn-m-expertise-1.webp') no-repeat center right;
                }
                &:nth-child(2){
                    background: url('../assets/images/bn-m-expertise-2.webp') no-repeat center right;
                }
                &:nth-child(3){
                    background: url('../assets/images/bn-m-expertise-3.webp') no-repeat center right;
                }
                &:nth-child(4){
                    background: url('../assets/images/bn-m-expertise-4.webp') no-repeat center right;
                }
                &:nth-child(5){
                    background: url('../assets/images/bn-m-expertise-5.webp') no-repeat center right;
                }
            }
        }
    }
}